schema_version: 1
template_generation: v2-foundation

project:
  name: {{ project_name | tojson }}
  slug: {{ project_slug | tojson }}
  package_tool: {{ package_tool | tojson }}

git:
  canonical_branch: {{ canonical_branch | tojson }}
  main_only: {{ main_only | lower }}
  write_concurrency: 1
  remote_advance_policy: overlap-based

capabilities:
  runtime_visual: {{ has_runtime_visual | lower }}
  database: {{ has_database | lower }}
  content_provenance: {{ has_content_provenance | lower }}
  regulated_domain: {{ regulated_domain | lower }}

context:
  max_additional_documents: 3
  task_prompt_max_lines: 1000
